@charset "ut-f8";

@import url('https://fonts.googleapis.com/css2?family= Alkatra :wght@700 & display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html , body {
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    height: 200px;
    text-align: center;
    font-family: 'Passion One' , cursive;
    
}

header > h1{
    padding-top: 40px;
    font-size: 10vw;
    font-weight: bolder;
    font-variant: small-caps;
}

p > a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

p > a:hover{
    text-decoration: underline;
}

main {
    font-family: 'Alkatra' , cursive;
    font-size: 3vw;
    text-indent: 30px;
    line-height: 2em;
    padding: 0px;
}

main > section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

.normal{
    background-color: white;
}

.imagem{
    background-color: #535353;
    color: white;
    box-shadow: inset 6px  6px 13px 0px rgba(0, 0, 0, 0.501);
    background-size: cover;
    background-attachment: fixed;
}

section#img_001{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img_002{
    background-image: url(imagens/background002.jpg);
}

.imagem > p {
    background-color: rgba(0, 0, 0, 0.285);
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.524);
}

footer{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

footer > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer > a:hover{
    text-decoration: underline;
}
