@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

h1{
    font-family: 'Press Start 2P';
    font-size: 5em;
    text-align: center;
}

h2{
    font-family: 'Audiowide';
    font-size: 2em;
}

p{
    font-family: 'Nabla';
    font-size: 2em;
}
