@charset "ut-f8";

@import url('https://fonts.googleapis.com/css2?family= Alkatra :wght@700 & display=swap');

body{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
    font-family: 'Alkatra' , cursive;
    color: white;
    height: 200px;
    text-align: center;
    
}

header > h1{
    margin: 0px;
    padding-top: 40px;
    font-size: 5em;
}

p > a{
    text-decoration: none;
    color: white;
}

p > a:hover{
    text-decoration: underline;
    font-size: 1.1em;
}

main {
    width: 400px;
    font-family: 'Alkatra' , cursive;
    font-size: 1.5em;
    text-indent: 40px;
    line-height: 2em;
}
